server {
    server_name grafana.example.com;
    listen 443 ssl http2;
    ssl_certificate /etc/certs/example.com/fullchain.pem;
    ssl_certificate_key /etc/certs/example.com/privkey.pem;
    include ssl_params;

    root /usr/local/www/grafana.example.com;
    access_log /var/log/nginx/grafana.example.com.log;
    error_log /var/log/nginx/grafana.example.com.err;

    location / {
        proxy_pass http://grafana:3000/;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $http_host;
    }

    location ~ /\.ht {
        deny all;
}
